
$mdc-theme-primary: #f04;
$mdc-theme-secondary: #41B883;
$mdc-theme-background: #fff;

$light-background: #EEEFE5;
$dark-background: #DEDECD;

@import "~vue-mdc-adapter/dist/styles";

@include mdc-tab-bar-indicator-ink-color(#f04);

mdc-tab {
  @include mdc-typography(headline4);
  font-family: "Roboto Medium", sans-serif !important;
}




